.video-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player {
    width: 720px;
    height: 560px;
}

canvas {
    position: absolute;
}